<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Follow</title>

    <link rel="stylesheet" href="css/index.css">
</head>
<body>

    <div class="container">
        <div class="button">   
            <a href="/add_evangelist">
                <button>Evangelists</button>
            </a>
        </div>

        <div class="button">   
            <a href="/current_status">
                <button>Current Status</button>
            </a>
        </div>

        <div class="button">   
            <a href="/new_work">
                <button>New Work</button>
            </a>
        </div>
	
    </div>
</body>
</html>
